:root{
    /* Background */
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;

    /* Color */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* Content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* Border */
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    /* Fonte */
    --font-family: "Inter", sans-serif;
    --title: bold 24px/32px var(--font-family);
    --label: 700 16px/20px var(--font-family);
    --paragraph: 500 16px/20px var(--font-family);
    --link: 500 14px/16px var(--font-family);
}